body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
* {
    margin: 0;
}
html,
body {
    min-height: 100svh;
}
main {
    /* height: fit-content; */
}
#map {
    height: 90%;
    width: 100%;
    background-color: lightcoral;
}

.btn-danger {
    border-radius: 0.2em;
    border: solid 2px hsl(0 60 40);
    background: hsl(0 80 60);
    opacity: 0.8;
    padding-top: 0.2em;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    /* transition: opacity 300ms ease-in-out; cubic-bezier(0.075, 0.82, 0.165, 1); */
    &:hover {
        opacity: 1;
    }
}
